<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GrocerEase</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- jQuery UI CSS
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->

    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'favicon/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicon/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicon/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'favicon/site.webmanifest'%}" />
    <link
      rel="mask-icon"
      href="{% static 'favicon/safari-pinned-tab.svg' %}"
      color="#5bbad5"
    />
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta
      name="msapplication-config"
      content="{% static 'favicon/browserconfig.xml' %}"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img
          src="{% static 'media/logo-icon.png' %}"
          class="logo-icon d-inline-block align-top"
          alt=""
        />
        <img
          src="{% static 'media/logo-text.png' %}"
          class="logo-text d-inline-block align-middle"
          alt=""
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      {% with url_name=request.resolver_match.url_name %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <li class="nav-item {% if url_name == 'index' %}active{% endif %}">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item {% if url_name == 'plan' %}active{% endif %}">
            <a class="nav-link" href="{% url 'plan' %}">New Order</a>
          </li>
          <li
            class="nav-item {% if url_name == 'orders-list' %}active{% endif %}"
          >
            <a class="nav-link" href="{% url 'orders-list' %}">Order history</a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <span class="navbar-text">👤 {{ user.username }}</span>
          <a class="nav-item nav-link" href="{% url 'logout' %}">Log out</a>
          {% else %}
          <li class="nav-item {% if url_name == 'login' %}active{% endif %}">
            <a href="{% url 'login' %}" class="nav-link">Log in</a>
          </li>
          <li class="nav-item {% if url_name == 'signup' %}active{% endif %}">
            <a href="{% url 'signup' %}" class="nav-link">Signup</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% endwith %}

    <div class="container mt-3">
      {% block content %} {% endblock content %}
    </div>

    <div class="float-right fixed-bottom m-2">
      <!-- View on github -->
      <div class="float-right">
        <a class="btn btn-light" href="https://github.com/orfeasa/grocerease">
          <img src="{% static 'media/github.svg' %}" alt="" /> View on GitHub
        </a>
      </div>
    </div>

    <!-- Load JS -->

    <script
      src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
      integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <!-- Custom JS -->
    <!-- <script src="{% static 'js/main.js' %}"></script> -->
  </body>
</html>
