{% extends 'main/base.html' %} 

{% block content %}
<h1>Order history</h1>
<div class="container mt-5"></div>

{% if orders %}
<div class="accordion" id="accordionOrders">
  {% for order in orders %}
    <div class="card">
      <div class="card-header" id="heading{{forloop.counter}}">
        <h2 class="mb-0">
          <button
            class="btn btn-link"
            type="button"
            data-toggle="collapse"
            data-target="#collapse{{ forloop.counter }}"
            aria-expanded="false"
            aria-controls="collapse{{ forloop.counter }}"
          >
            <h4>
              {{ order.created_at|date }} ({{ order.created_at|timesince }} ago) <span class="items-count"> 
              {% with total=order.order_items.all.count %}
                {{ total }} item{{ total|pluralize }}</span>
              {% endwith %}
            </h4>
          </button>
        </h2>
      </div>

      <div
        id="collapse{{ forloop.counter }}"
        class="collapse"
        aria-labelledby="heading{{ forloop.counter }}"
        data-parent="#accordionOrders"
      >
        <div class="card-body">
            <ul>            
            {% regroup order.order_items.all|dictsort:"product.category.name" by product.category.name as category_list %}
            {% for category in category_list %}
              <h4 class="orders-item-category">{{ category.grouper }}</h4>
              <ul>
                {% for order_item in category.list %}
                  <li>{{ order_item.product.name }} {{ order_item.quantity|floatformat:"0" }} {{order_item.product.get_unit_display }}{{order_item.quantity|pluralize}}
                  
                  </li>
                {% endfor %}
              </ul>                        
            {% empty %}
              <h4 class="orders-item-category">This order is empty 🤷</h4>
            {% endfor %}
            </ul>
            <p class="text-right"><a href="#" class="href">edit</a></p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% else %}
  <div class="text-center">
    <h1>🛒❓</h1>
    <h2>You don't have any purchases yet!</h2>
    <h3>Start with your first one <a href="#">here</a>!</h3>
  </div>
{% endif %}

{% endblock content %}